<h1> 
    All subjects 
</h1>

<div class="my-2">
    <a href="/subjects/create">Add a new subject</a>
</div>


{{#each subjects}}

<div class="d-flex justify-content-between">
    <a href='/subjects/{{_id}}'>
    {{name}}
    </a>
    
    <div>
        <button class="btn btn-light" ><a href='/subjects/{{_id}}/edit'>
          Edit 
        </a>
         </button>
          
         | 
         <br>
         <form action='/subjects/{{_id}}' method="post">
            <button class="btn btn-success" type='submit'> Delete </button>
          
         </form>
          
    </div>
</div>




{{/each}}