<h1> 
   Doctor Login Form  
</h1>

<form action="/login" method="post"> 

<div style="margin-top:10px;">
    <label for=""> Email </label>
    <input class="form-control" type="email" name="email">
</div>

<div style="margin-top:10px;">
    <label for=""> Password </label>
    <input  class="form-control" type="password" name="password">
</div>

<div style="margin-top:10px;">
    <button  class="btn btn-info" type="submit"> 
        Login
    </button>
</div>
</form>