<h1> 
   Student Registration Form  
</h1>

<form action="/studentRegister" method="post"> 

<div style="margin-top:10px;">
    <label for=""> Username </label>
    <input class="form-control" type="text" name="username">
</div>

<div style="margin-top:10px;">
    <label for=""> Password </label>
    <input  class="form-control" type="password" name="password">
</div>

<div style="margin-top:10px;">
    <label for=""> Academic Number </label>
    <input class="form-control" type="number" name="academicnumber">
</div>

<div style="margin-top:10px;">
    <button  class="btn btn-info" type="submit"> 
        Register
    </button>
</div>
</form>